__pycache__
.vscode
models/diagram_1.bpmn
models/chatbot_model.bpmn
models/test_podproces.bpmn
models/test_call_activity.bpmn
models/test_business_rule.bpmn
models/test_dmn.dmn
models/test_exe_dmn.dmn
models/strucna_praksa.bpmn
models/test_prob_dist_time.bpmn
models/paths_xor_test.bpmn
models/test1.bpmn
models/test_mid_event_prob.bpmn
models/test_re.bpmn
models/marketing_example.bpmn
models/marketing_52_example.bpmn
models/marketing_104_example.bpmn
models/test_complex_paths.bpmn
py-bpmn-env
database/
env.py
