aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
cycler==0.11.0
fonttools==4.28.2
gunicorn==20.1.0
idna==3.2
kiwisolver==1.3.2
matplotlib==3.5.0
multidict==5.1.0
numpy==1.21.4
packaging==21.3
Pillow==8.4.0
pony==0.7.14
pyparsing==3.0.6
python-dateutil==2.8.2
requests==2.26.0
setuptools-scm==6.3.2
six==1.16.0
tomli==1.2.2
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
